@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Space Grotesk", sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: solid black 5px;
    text-align: center;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    text-align: center;
    transition: transform 0.3s;
    border: 2px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    border-radius: 0;
    width: 100%;
    max-width: 700px;
}

footer {
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

@media (min-width: 768px) {
    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project {
        flex-direction: row;
        align-items: center;
        width: 70%;
        margin: 2.5%;
        text-align: left;
        max-height: 500px;
        overflow: hidden;
    }

    .project:nth-child(even) {
        flex-direction: row-reverse;
    }

    .project img {
        width: 50%;
        max-width: none;
    }

    .project div {
        width: 50%;
        padding: 20px;
    }
}

@media (min-width: 1024px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        padding: 40px;
    }
}